.cls-1{fill:#122242;}
.cls-10,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{fill:#21346a;stroke:#005795;}
.cls-10,.cls-12,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{stroke-miterlimit:10;}
.cls-2{stroke-width:1.55px;}
.cls-3{stroke-width:1.59px;}
.cls-4{stroke-width:1.59px;}
.cls-5{stroke-width:1.59px;}
.cls-6{stroke-width:1.53px;}
.cls-12,.cls-7{stroke-width:1.55px;}
.cls-8{stroke-width:1.57px;}
.cls-9{stroke-width:1.55px;}
.cls-10{stroke-width:1.6px;}
.cls-11{font-size:73.81px;font-family:Avenir-Medium, Avenir;font-weight:500;}
.cls-11,.cls-13{fill:#fff;}
.cls-12{fill:#005795;stroke:#3a92d0;}